.game-item-favorite-icon{
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

.game-item-favorite-icon:focus{
    outline: 0;
}

.game-item-favorite-icon svg{
    transition: transform .2s;
}

.game-item-favorite-icon:hover svg{
    transform: scale(1.1);
}